{% extends 'base.html' %}
{% load humanize %}
{% block title %}
	Main - {{ block.super }}
{% endblock title %}
{% block content %}
    <h2>Welcome to our collection of things</h2>
    <ul>
        <li>Browse our products through the <a href="{%  url 'browse' %}">Browse</a> tab</li>
        <br>
        {% if user.is_authenticated %}
{#            <li>If you would like to reset your password, click <a href="{% url 'password_reset' %}">here</a>.</li>#}
            <li>If you would like to change your password, click <a href="{% url 'password_change' %}">here</a>.</li>
            <li>If you would like to change your email, click <a href="{% url 'edit_email' %}">here</a>.</li>
            <li>When you're done, don't forget to <a href="{%  url 'auth_logout' %}">logout</a>!</li>
        {% else %}
            <li>If you're new here and want to add your own products, register <a href="{%  url 'registration_register' %}">here</a>!</li>
            <li>If you've been here before, login <a href="{%  url 'auth_login' %}">here</a>!</li>
        {% endif %}
        <br>
        <li>Read about me <a href="{%  url 'about' %}">here</a>!</li>
        <li>Ask me all your questions <a href="{%  url 'contact' %}">here</a>!</li>
    </ul>
{# {% for thing in things %}#}
{#	<h2><a href="{% url 'thing_detail' slug=thing.slug %}">#}
{#		{{ thing.name }}#}
{#	</a></h2>#}
{#	<p>{{ thing.description }}</p>#}
{# {% endfor %}#}
{% endblock content %}